waveforms
stations
.idea
__pycache__
check_point.pt
training_datasets*.hdf5
pyrocko_synthetics/ak135_2000km_1Hz/
Model_and_datasets_1D_all/
Model_and_datasets_1D_STEAD*/
Model_and_datasets_1D_synthetic/
Model_and_datasets_1D_all_snr_40/
Model_and_datasets_1D_all_snr_40_no_skip_connection/
Model_and_datasets_1D_all_snr_40_unshuffled_batch_256/
Model_and_datasets_1D_all_snr_40_unshuffled/all_runs/
Model_and_datasets_1D_all_snr_40_unshuffled/Branch_Encoder_Decoder_LSTM/Figures
Model_and_datasets_1D_all_snr_40_unshuffled_equal_epoch100/
Model_and_datasets_1D_all_snr_40_unshuffled_early_stopping/
training_datasets/
synthetic_noisy_waveforms/
continuous_waveforms/
.ipynb_checkpoints/